frontend midonet_cluster_api-front-1
    bind {{ external_lb_vip_address }}:9981
    option httplog
    option forwardfor except 127.0.0.0/8
    option http-server-close
    mode http
    default_backend midonet_cluster_api-back

frontend midonet_cluster_api-front-2
    bind {{ internal_lb_vip_address }}:9981
    option httplog
    option forwardfor except 127.0.0.0/8
    option http-server-close
    mode http
    default_backend midonet_cluster_api-back

backend midonet_cluster_api-back
    mode http
    option forwardfor
    option httpchk /
    option http-server-close
{% for host_name in [groups['midonet-api'][0]] %}
    server {{ host_name }} {{ hostvars[host_name]['ansible_ssh_host'] }}:8181 check inter 5000
{% endfor %}
{% for host_name in groups['midonet-api'][1:] %}
    server {{ host_name }} {{ hostvars[host_name]['ansible_ssh_host'] }}:8181 check inter 5000 backup
{% endfor %}
