[DATABASE]
sql_connection = mysql://{{ neutron_galera_user }}:{{ neutron_container_mysql_password }}@{{ neutron_galera_address }}/{{ neutron_galera_database }}

[MIDONET]
# MidoNet API URL
midonet_uri = http://172.29.239.226:8181/midonet-api
# MidoNet administrative user in Keystone
username = midonet
password = labas
# MidoNet administrative user's tenant
project_id = service
